pub/
.bin/
**/*.tscom
node_modules/
target/
docs/artifacts
tsmaps/
.gemini/
.agent/
.vscode/
scratch/
test-results/
.dockerignore
.editorconfig
.pretierrc
playwright-report/

cargo_check_2.txt
cargo_check.txt
cargo_test_final_v2.txt
cargo_test_final_v3.txt
cargo_test_final.txt
cargo_test_restored_2.txt
cargo_test_restored_3.txt
cargo_test_restored.txt
.manifests/migration.tsmft
.gitignore
poshbuddy.code-workspace
.trunk/build-cache/*
qp_audit.md

